[Unit]
Description=swww Daemon
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swww-daemon
ExecReload=kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=graphical-session.target
