[Unit]
Description=undug service
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/home/warbacon/.local/bin/undug
ExecReload=kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=graphical-session.target
