@import "mocha.css";

* {
    font-family: Cantarell;
}

window.bar {
    background-color: @crust;
    color: @text;
    border-bottom: 1px @surface0 solid;
    font-weight: bold;
}

button {
    background-image: none;
    box-shadow: none;
    border: none;
    color: inherit;
    border-radius: 0px;
}

.workspaces button {
    padding: 3px 6px;
}

.workspaces button.focused {
    background-color: @surface0;
    box-shadow: inset 0 -3px @maroon;
}

.volume_indicator {
    padding: 0px;
}

.volume_indicator.active {
    background-color: @surface1;
}

.volume_slider {
    background-color: @mantle;
    border: 1px @surface0 solid;
    min-width: 200px;
    border-radius: 10px;
}

.battery_progress {
    color: @green;
    background-color: @surface0;
    min-width: 18px;
    font-size: 3px;
}
