@import "mocha.css";

* {
    border: none;
    border-radius: 0;
    min-height: 0;
}

window#waybar {
    font-family: Iosevka, Symbols Nerd Font;
    background: @mantle;
    border-bottom: 1px solid @surface0;
    color: @text;
    font-weight: 600;
    font-size: 12pt;
}

tooltip {
  background: @mantle;
  border-radius: 5px;
  border: 1px solid @surface0;
}

tooltip label {
    color: @text;
    font-size: 12pt;
    font-family: Iosevka, Symbols Nerd Font;
}

#workspaces {
    margin-left: 6px;
    background-color: @surface0;
    border: 1px solid @surface1;
    margin: 5px;
    border-radius: 3px;
}

#workspaces button {
    border-radius: 2px;
    margin: 2px;
    padding: 0 8px;
    color: inherit;
    background: transparent;
    transition-property: none;
}

#workspaces button:hover {
    background-color: @surface2;
}

#workspaces button.urgent {
    background-color: @red;
    color: @base;
}

#workspaces button.active {
    background-color: @sapphire;
    color: @base;
}

#workspaces button.active:hover {
    text-shadow: none;
}

#workspaces button.active.special {
    background: @peach;
    color: @base;
}

#tray,
#pulseaudio,
#backlight,
#battery,
#network,
#clock,
#power-profiles-daemon {
    background-color: @surface0;
    border: 1px solid @surface1;
    padding: 0 10px;
    margin: 5px 0;
    border-radius: 3px;
}

#pulseaudio:hover,
#clock:hover,
#power-profiles-daemon:hover {
    background-color: @surface1;
    border: 1px solid @surface2;
}

#network.disconnected,
#pulseaudio.muted {
    color: @overlay1;
}

#tray menu {
    background-color: @mantle;
    border: 1px solid @surface0;
    color: @text;
    font-weight: 400;
}

#pulseaudio {
    color: @mauve;
}

#backlight {
    color: @maroon;
}

#battery {
    color: @green;
}

#battery.charging {
    color: @yellow;
}

#battery.charging.warning {
    color: @yellow;
}

#battery.charging.critical {
    color: @yellow;
}

#battery.warning {
    color: @peach;
}

#battery.critical {
    color: @red;
}

#network {
    color: @sky;
}

#clock {
    color: @blue;
}

#power-profiles-daemon {
    color: @flamingo;
    min-width: 25px;
    margin-right: 6px;
}
