@import "tokyonight.css";

* {
    border: none;
    border-radius: 0;
    min-height: 0;
}

window#waybar {
    font-family: Iosevka Extended, Symbols Nerd Font;
    background: @bg0;
    border-bottom: 1px solid @border0;
    color: @fg0;
    font-size: 11pt;
}

#workspaces,
#tags {
    margin-left: 6px;
    background-color: @bg1;
    border: 1px solid @border0;
    margin: 5px;
}

#workspaces button,
#tags button {
    color: @fg0;
    background: transparent;
    transition-property: none;
}

#workspaces button:hover,
#tags button:hover {
    background-color: @bg2;
    text-shadow: none;
    box-shadow: none;
}

#workspaces button.urgent {
    background-color: @red;
    color: @bg0;
}

#workspaces button.active,
#tags button.focused {
    background-color: @accent;
}

#workspaces button.active:hover,
#tags button.focused:hover {
    text-shadow: none;
}

#workspaces button.active.special {
    background: @orange;
    color: @bg1;
}

#window {
    font-weight: 600;
}

window#waybar.empty #window {
    opacity: 0;
}

#privacy-item,
#tray,
#pulseaudio,
#backlight,
#battery,
#network,
#clock,
#window,
#power-profiles-daemon {
    background-color: @bg1;
    border: 1px solid @border0;
    padding: 0 10px;
    margin: 5px 0;
}

#pulseaudio:hover,
#clock:hover,
#network:hover,
#power-profiles-daemon:hover {
    background-color: @bg2;
    border: 1px solid @border1;
}

#privacy-item {
    color: @red;
}

#network.disconnected,
#pulseaudio.muted {
    color: @fg1;
}

#pulseaudio {
    color: @fg-block3;
}

#backlight {
    color: @fg-block2;
}

#battery {
    color: @green;
}

#battery.charging {
    color: @yellow;
}

#battery.charging.warning {
    color: @yellow;
}

#battery.charging.critical {
    color: @yellow;
}

#battery.warning {
    color: @orange;
}

#battery.critical {
    color: @red;
}

#network {
    color: @fg-block1;
}

#clock {
    color: @fg-block0;
    margin-right: 6px;
}
