@import "terafox.css";

* {
    border: none;
    border-radius: 0;
    min-height: 0;
}

window#waybar {
    font-family: JetBrains Mono, Symbols Nerd Font;
    background: @bg0;
    border-bottom: 1px solid @border0;
    color: @fg0;
    font-size: 10pt;
}

#workspaces,
#tags {
    background-color: @bg1;
    border: 1px solid @border0;
    margin: 5px;
    margin-right: 0;
    border-radius: 6px;
}

#workspaces button,
#tags button {
    color: @fg1;
    background: transparent;
    transition-property: none;
    padding: 0 8px;
    border-radius: 4px;
    margin: 1px;
}

#tags button {
    color: @fg1;
}

#tags button.occupied {
    color: @fg0;
}

#workspaces button:hover,
#tags button:hover {
    background-color: @bg2;
    text-shadow: none;
    box-shadow: none;
}

#workspaces button.urgent {
    background-color: @red;
    color: @bg0;
}

#workspaces button.active,
#tags button.focused {
    color: @bg0;
    background-color: @accent;
}

#workspaces button.active:hover,
#tags button.focused:hover {
    text-shadow: none;
}

#workspaces button.active.special {
    background: @orange;
    color: @bg1;
}

window#waybar.empty #window {
    opacity: 0;
}

#privacy-item,
#tray,
#pulseaudio,
#backlight,
#battery,
#network,
#clock,
#window,
#power-profiles-daemon {
    margin: 5px 0;
    background-color: @bg1;
    border: 1px solid @border0;
    padding: 0 10px;
    border-radius: 6px;
}

#pulseaudio:hover,
#clock:hover,
#network:hover,
#power-profiles-daemon:hover {
    background-color: @bg2;
    border: 1px solid @border1;
}

#privacy-item {
    color: @red;
}

#network.disconnected,
#pulseaudio.muted {
    color: @fg1;
}

#pulseaudio {
    color: @accent;
}

#backlight {
    color: @accent;
}

#battery {
    color: @accent;
}

#battery.charging {
    color: @yellow;
}

#battery.charging.warning {
    color: @yellow;
}

#battery.charging.critical {
    color: @yellow;
}

#battery.warning {
    color: @orange;
}

#battery.critical {
    color: @red;
}

#network {
    color: @accent;
}

#clock {
    color: @accent;
    margin-right: 5px;
}
